@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #333;
  }

  body {
    @apply antialiased text-gray-900;
  }
}